/* Estilos personalizados */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #39394D;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Estilos da Navbar */
nav {
    background-color: #191922;
    padding: 16px;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    display: inline;
    margin-right: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.navbar-links a:hover {
    text-decoration: underline;
}

/* Estilos do Container de Pesquisa */
.search-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 16px;
    max-width: 400px;
    margin: 0 auto;
}

.search-input {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
}

.search-results {
    margin-top: 8px;
}

.search-results ul {
    list-style-type: none;
    padding: 0;
}

.search-results li {
    margin-bottom: 4px;
    padding: 4px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000;
}
